# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 938f137ff2a5

#[adxl345]
#cs_pin: EBBCan:PB12
#spi_software_sclk_pin: EBBCan:PB10
#spi_software_mosi_pin: EBBCan:PB11
#spi_software_miso_pin: EBBCan:PB2
#axes_map: x,y,z

[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 23.045841
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:PB13
sensor_type: Generic 3950
sensor_pin: EBBCan:PA3
#smooth_time: 1.0
control: pid
pid_Kp: 24.367 #28.182
pid_Ki: 1.203 #1.978
pid_Kd: 123.359 #100.397
#pwm_cycle_time: 0.100
min_temp: 0
max_temp: 270
min_extrude_temp: 190
max_extrude_only_distance: 150
#max_extrude_cross_section: 0.8
pressure_advance: 0.042                                               # See tuning pressure advance doc
#pressure_advance_smooth_time: 0.040

# sensor_type:MAX31865
# sensor_pin: EBBCan:PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan:PA15
run_current: 0.3
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0

[fan]
pin: EBBCan:PA1
max_power: 1.0
kick_start_time: 0.100
cycle_time: 0.010
off_below: 0.0

[heater_fan hotend_fan]
pin: EBBCan:PA0
heater: extruder
heater_temp: 50.0
fan_speed: 0.95
kick_start_time: 0.100
cycle_time: 0.020
off_below: 0.0

[neopixel hotend_rgb]
pin: EBBCan:PD3
chain_count: 2
color_order: GRB

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3
